<div>
  <!--class="container-fluid"-->
      <div class="row display-table-row">
         <!--class="row display-table-row"-->
        <div class="display-table-cell valign-top">
           <!--class="valign-top display-table-cell"-->
           <!--"col-md-10 col-sm-11"-->
          <!--"-->
          <!---->
            <!---->
          
          <div>
             <!---->
            <footer id="admin-footer" class="clearfix col-md-5">
              <nav class="navbar-default">
              <div class="pull-left col-md-5"><b>Copyright </b>&copy; 2016</div>
              <div class="pull-right"><a href = "https://www.facebook.com/groups/1717841335126709/" target="_blank">DataBurj Developers</a></div>
              </nav>
            </footer>
          </div>
        </div>
    </div>
</div>