<div class="container-fluid display-table">
      <div class="row display-table-row">
        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
          
          
          
          <div class="row">
            <footer id="admin-footer" class="clearfix">
              <div class="pull-left"><b>Copyright </b>&copy; 2016</div>
              <div class="pull-right"><a href = "https://www.facebook.com/groups/1717841335126709/" target="_blank">DataBurj Developers</a></div>
            </footer>
          </div>
        </div>
    </div>
</div>